<div class="card tc-card border-box" id="infotarea">
    <div class="card-body">
        <div class="tab-content tab-content-solid">

            <div class="tab-pane fade active show" id="contact-5-0" role="tabpanel" aria-labelledby="tab-5-0">
                <div class="row end">
                    <div class="col-2 disappear">
                        <button hidden class="boton-tarea" id="regresar" onclick="regresar();">
                            <i class="fa fa-arrow-left"></i>
                            Regresar
                        </button></div>
                    <div class="col-10 end optionsWork">
                        <button class="boton-tarea" id="reAbrir" onclick="botonesMisTareas(this.id);" href="#"
                            style="display: none;">
                            <i class="tu-icon-starBox"></i>
                            Re-abrir tarea
                        </button>
                        <button class="boton-tarea" id="cerrar" onclick="javascript:cerrarActividad();" href="#">
                            <i class="tu-icon-okx"></i>
                            Realizar
                        </button>
                        <button class="boton-tarea" id="dejarObservar" onclick="javascript:dejarObservar();" href="#"
                            style="display: none;">
                            <i class="tu-icon-ocultar"></i>
                            Dejar de observar
                        </button>
                        <button class="boton-tarea" href="#" onclick="botonesMisTareas(this.id)" id="verObservador">
                            <i class="tu-icon-lupax"></i>
                            Observar</button>
                        <button class="boton-tarea" id="ver" href="#" onclick="botonesMisTareas(this.id);">
                            <i class="tu-icon-asignarx"></i>
                            Asignar</button>
                        <button class="boton-tarea" hidden disabled="true">
                            <i class="fa fa-list-alt"></i>
                            Procesar en Siiigo
                        </button>
                        <button class="boton-tarea" href="#" id="show" onclick="botonesMisTareas(this.id);">
                            <i class="tu-icon-devolverx"></i>
                            Devolver
                        </button>
                        <span class="" id="pedirProrroga">
                            <span class="">
                                <button class="boton-tarea" onclick="botonesMisTareas(this.id);" id="ver2"> <i
                                        class="tu-icon-timex"></i>
                                    Prorrogar
                                </button>
                            </span>
                        </span>
                        <span class="" id="prorrogaActiva">
                            <span class="">
                                <div class="boton-tarea">
                                    <i class="tu-icon-timex"></i>
                                    Prorrogada
                                </div>
                            </span>
                        </span>
                        <button type="button" class="boton-tarea siigo btn-siigo-boton" onclick="ingresarSiigo();"
                            id="btn-siigo-boton"> <i class="tu-icon-siigo"></i></button>
                    </div>
                </div>

                <div class="row ml-md-2 mr-md-0 vertical-tab tab-minimal justify-content-evenly" *ngIf="ejecucion">
                    <div class="tc-tabs__inner pt-3 pb-3 pl-3 col-md-5">
                        <div class="col-12 mt-4">
                            <h4 class="card-title" id="nom_tarea">{{ejecucion.taemId.tareaPredeterminada.taprNombre}}
                                {{ejecucion.ejtaDias}} dias
                            </h4>
                            <p class="body-txt ml-2" id="desc_tarea" [innerHTML]="ejecucion.taemId.tareaPredeterminada.taprDescripcion">
                                </p>
                        </div>
                        <br>
                        <h4 class="card-title" id="lblSeguimiento">Seguimiento</h4>
                        <ul class="nav nav-tabs" id="checkList" role="tablist">
                            <li class="nav-item">

                                <div class="checkGo" *ngFor="let check of ejecucion.checklist">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked="">
                                            <i class="input-helper"></i><i class="input-helper"></i></label>
                                    </div>
                                    <a class="nav-link ml-3 active show" id="tab-2-1" data-toggle="tab"
                                        href="#dashboard-2-1" role="tab" aria-controls="dashboard-2-1"
                                        aria-selected="true">
                                        {{check.checDescripcion}}
                                    </a>

                                    <popover-content #myPopover title="como se hace?" class="popoverpaso no_border-rigth" placement="right"
                                        [animation]="true" [closeOnClickOutside]="true">
                                        <div class="no_border-rigth" [innerHTML]="check.checAyuda"></div>
                                    </popover-content>

                                    <button type="button" class="pregunta pointer" [popover]="myPopover"><i
                                            class="icon-question"></i></button>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div id="comentariosPag" class="tab-content col-md-7 ">
                        <h4 class="card-title" style="margin-top: 1.125rem;">Comentarios</h4>
                        <div class="divComment">
                            <textarea placeholder="Escribe un comentario"
                                oninput="if(this.value.length > 200) this.value = this.value.slice(0, 200);" size="200"
                                pattern="[0-9]*" autocomplete="off" class="form-control text-area" id="text_comentario"
                                rows="1"></textarea>
                            <div class="iconos-textArea">
                                <button class="btn btn-icons" onclick="javascript:$('#file').click();"><i
                                        class="fa fa-paperclip"></i></button>
                                <button class="btn btn-icons" id="enviarComentario"
                                    onclick="javascript:comentarActividad();"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                        <label id="archivoASubir" style="display: none;">archivo cargado <i class="fa fa-window-close-o"
                                onclick="$('#file').val(''); $('.dropify-clear').click(); $('#archivoASubir').hide();"></i>
                        </label>
                        <div id="commentDivTareas" class="">
                            <div class="card">
                                <div class="card-body paddingZero">
                                    <ul class="paddingZero" id="listadoComentarios">
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-content col-md-5 tc-tabs__inner-content" style="display:none;" id='ayudaChecklist'>



                    </div>
                    <br>
                    <div class="col-md-12 end end-complement">
                        <div id="pasosActividad">
                            <div class="pasos_tarea" *ngFor="let paso of ejecucion.pasos">
                                <img style="width:50px;" alt="Avatar"
                                    src="{{urlImg}}profile.png">
                                <span  [className]="ejecucion.ejtaId == paso.idPaso ? 'pasoActivo' : '' ">{{paso.paso}} <br class="mostrarSiempre">
                                    <span class="dTarea">{{paso.responsable}}</span></span>
                            </div>
                        </div>
                        <br>
                        <div id="pasosActividadMovil" style="display:none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>