<div class="card tc-card border-box">
    <div class="card-body">
        <div class="row margintop10px" style="justify-content: space-between;">
            <h4 class="card-title" id="tituloForm">Registrar usuario</h4>
            <div><button class="btn btn-light btn-mini" onclick="javascript:redireccionar();">Volver</button></div>
        </div>
        <br>
        <form class="forms-sample" id="reg_usuario" onsubmit="return false;">
            <div class="row">
                <div class="col-md-6 FriendLeft-0">
                    <div class="form-group">
                        <label for="td_usuario">Tipo documento *</label>
                        <select class="form-control input-c" id="td_usuario" onchange="javascript:tipoDocumento('1');"
                            name="td_usuario" required>
                            <option value="">Seleccione tipo documento</option>
                            <option *ngFor="let documento of tipoDocumento" [ngValue]="documento">
                                {{documento.tidoDescripcion}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 FriendRight-0">
                    <div class="form-group">
                        <label for="documento">Número documento *</label>
                        <div class="form-group">
                            <input type="text" minlength="6" maxlength="18" class="form-control input-c" id="documentoA"
                                name="documento" autocomplete="off" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ap1_usuario">Primer apellido *</label>
                        <input type="text" class="form-control nombre input-c" id="ap1_usuario" name="ap1_usuario"
                            autocomplete="off" maxlength="45" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ap2_usuario">Segundo apellido</label>
                        <input type="text" class="form-control nombre input-c" id="ap2_usuario" name="ap2_usuario"
                            autocomplete="off" maxlength="45">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom1_usuario">Primer nombre *</label>
                        <input type="text" class="form-control nombre input-c" id="nom1_usuario" name="nom1_usuario"
                            autocomplete="off" maxlength="45" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nom2_usuario">Otros nombres</label>
                        <input type="text" class="form-control nombre input-c" id="nom2_usuario" name="nom2_usuario"
                            autocomplete="off" maxlength="45">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Departamento *</label>
                        <select class="form-control form-control-sm  js-example-basic-single" [(ngModel)]="departamento"
                            style="width: 100%" id="depaUsuario" name="depaUsuario"
                            (change)="listarMunicipiosPorDepartamento()" required>
                            <option value="">Seleccione Departamento</option>
                            <option *ngFor="let depar of departamentos" [ngValue]="depar.depaId">{{depar.depaNombre}}
                            </option>
                        </select>

                        <p-dropdown [options]="departamentos" formControlName="departamentoSeleccionado"></p-dropdown>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Municipio *</label>
                        <select class="form-control form-control-sm municipio input-c" id="muniUsuario"
                            name="muniUsuario" style="width: 100%">
                            <option>Seleccione Municipio</option>
                            <option *ngFor="let muni of municipios" [ngValue]="muni.muniId">{{muni.muniNombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dir_usuario">Dirección *</label>
                        <input type="text" class="form-control input-c" id="dir_usuario" name="dir_usuario"
                            maxlength="45" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cel_usuario">Celular *</label>
                        <input type="text" class="form-control numeros input-c" id="cel_usuario" name="cel_usuario"
                            minlength="8" maxlength="10" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Correo *</label>
                        <input type="email" style="text-transform: lowercase" class="form-control input-c" id="email"
                            maxlength="45" name="email" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Confirmar correo *</label>
                        <input type="email" style="text-transform: lowercase" class="form-control input-c"
                            maxlength="45" name="email_again" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="divTipoUsuario">
                    <div class="form-group">
                        <label>Tipo usuario *</label>
                        <select class="form-control input-c" name="tipo_usuario" id="tipo_usuario"
                            onchange="tipoUsuario();" required>
                            <option value="">Seleccione tipo usuario</option>
                            <option *ngFor="let tipoU of tipoUsuario" [ngValue]="tipoU">{{tipoU.tiusDescripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6" id="supervisor1" style="display: none;padding-left: 5%;">
                    <div class="form-group">
                        <label>Supervisores *</label>
                        <select class="form-control js-example-basic-single input-c" name="supervisores"
                            id="supervisores" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="col-md-6" id="tarjPro" style="display: none;padding-left: 5%;">
                    <div class="form-group">
                        <label for="numTar_usuario">Tarjeta profesional *</label>
                        <input type="text" class="form-control input-c alfanumerico" id="numTar_usuario"
                            name="numTar_usuario" maxlength="15" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6" id="paraEmpresa" style="display: none;align-items: center;">
                    <div class="form-check form-check-flat">
                        <label class="form-check-label" style="display: inline;">
                            <input id="ch" onclick="paraEmpresa()" type="checkbox" class="form-check-input">Usuario
                            pertenece a empresa</label>
                    </div>
                </div>
            </div>
            <div class="row" id="empresa">
                <div class="col-md-6" style="padding-left: 2%;">
                    <div class="form-group">
                        <label>Empresa *</label>
                        <select class="form-control js-example-basic-single input-c" style="width: 100%" name="emp"
                            id="emp"></select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6 mx-auto" style="text-align: center;">
                        <button type="submit" id="boton" class="btn btn-success mr-2 btn-mini"
                            onclick="validar('reg_usuario', 1);"><b>Registrar</b></button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row oculta-solo-movil" style="justify-content: flex-end;">
            <button class="btn btn-light btn-mini" onclick="javascript:redireccionar();">Volver</button>
        </div>
    </div>
</div>