$icomoon-font-family: "ico-tuscuentas" !default;
$icomoon-font-path: "fonts" !default;

$i-empresa: "\e900";
$i-responsable: "\e901";
$i-vencida: "\e902";
$i-abiertas: "\e903";
$i-atrasadas: "\e904";
$i-cerradas: "\e905";
$i-observadas: "\e906";
$i-pendientes: "\e907";

