<div class=" totales" *ngIf="authService.isAuthenticated()" id='panel-derecho'>
  <ul *ngIf="usuario.tipoUsuario.tiusId =='1' && totales"
    class="nav nav-tabs tab-solid tab-solid-danger justify-content-between" role="tablist" id="admin">
    <li class="nav-item">
      <a class="btn btn-outline-secondary btn-inicio" onclick="javascript:cargarMenu();" data-toggle="tab" role="tab"
        aria-controls="profile-5-2" aria-selected="false">
        <i class="tu-icon-home"></i>
        <h1 class="end">Inicio</h1>
      </a>
    </li>
    <li class="nav-item pointer" id="company-regis">
      <a class="btn btn-outline" id="em-tab-5-3" data-toggle="tab" href="#contact-5-3" role="tab"
        aria-controls="contact-5-3" aria-selected="false">
        <i class="tu-icon-building"></i>
        <span class="tc-nav-item__body">
          Empresas registradas
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalEmpresas"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.empresas}}
          </span>
        </span>
      </a>
    </li>
    <li class="nav-item pointer" id="con-acti-sistema">
      <a class="btn btn-outline" id="em-tab-5-4" data-toggle="tab" href="#contact-5-4" role="tab"
        aria-controls="contact-5-4" aria-selected="false">
        <i class="tu-icon-chat-bubble"></i>
        <span class="tc-nav-item__body">
          Contadores activos
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalContadores"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.contadores}}
          </span>
        </span>
      </a>
    </li>
    <li class="nav-item pointer" id="all-users" [routerLink]="[ '/listUsuario']">
      <a class="btn btn-outline" id="em-tab-5-5" data-toggle="tab" href="#contact-5-5" role="tab"
        aria-controls="contact-5-5" aria-selected="false">
        <i class="tu-icon-group"></i>
        <span class="tc-nav-item__body">
          Total usuarios
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalUsuarios"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.usuarios}}
          </span>
        </span>
      </a>
    </li>
  </ul>

  <div class="display_flex" *ngIf="totales">
    <div class="tc-dropdown__container">
      <button class="tab-solid btn btn-block btn-primary tc-aside__btn buttonEmpresa" id="botonEmpresa" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="tu-icon-empresas tc-aside__icon"></i>
        <span class="tc-aside__btn-txt">
          <span class="tc-txtsmall" id="contEmp">Empresas registradas</span>
          <div class="tc-txt" id="nombreEmpresa">Todas (5)</div>
          <i class="fa fa-sort-desc tc-aside__icon"></i>
        </span>
      </button>
      <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola</button> -->
      <div class="dropdown-menu tc-dropdown" x-placement="bottom-start" id="todasEmpresas"
        style="position: absolute; transform: translate3d(0px, 56px, 0px); top: 0px; left: 0px; will-change: transform;">
        <b class="tittleEmpresasH">Listas de empresas <button type="button" id="botonAll" class="botonXs" onclick=""><i
              class="icon-close"></i></button></b><a class="dropdown-item ec-dropdown-item pointer"
          id="todasEmpresasLabel" onclick="clickTodasContador();">Todas<i
            class="fa fa-chevron-right tc-nav-item__icon"></i></a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarEmpresa(3,'Batidos Cosechas' )" title="Batidos Cosechas">
          <div class="cortarPalabra">Batidos Cosechas</div><i class="fa fa-chevron-right tc-nav-item__icon"></i>
        </a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarEmpresa(8,'Kreab Colombia SAS' )" title="Kreab Colombia SAS">
          <div class="cortarPalabra">Kreab Colombia SAS</div><i class="fa fa-chevron-right tc-nav-item__icon"></i>
        </a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarEmpresa(44,'PRUEBA' )" title="PRUEBA">
          <div class="cortarPalabra">PRUEBA</div><i class="fa fa-chevron-right tc-nav-item__icon"></i>
        </a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarEmpresa(43,'PRUEBA PRUEBA' )" title="PRUEBA PRUEBA">
          <div class="cortarPalabra">PRUEBA PRUEBA</div><i class="fa fa-chevron-right tc-nav-item__icon"></i>
        </a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarEmpresa(2,'SebMar SAS' )" title="SebMar SAS">
          <div class="cortarPalabra">SebMar SAS</div><i class="fa fa-chevron-right tc-nav-item__icon"></i>
        </a>
        <div class="dropdown-divider ec-dropdown-divider"></div><a class="dropdown-item ec-dropdown-item pointer"
          onclick="redireccionarCrearEmpresa();">Crear empresa<i class="tu-icon-plus tc-nav-item__icon"></i></a>
      </div>

      <button class="tab-solid btn btn-block btn-primary tc-aside__btn" id="botonIn" onclick="cargarMenu();"
        style="display: none;" type="button">
        <i class="tu-icon-home tc-aside__icon" id="inicio_vendedor"
          style="position: absolute;left: 26px; top: 11px;"></i>
        <span class="tc-aside__btn-txt">
          <h1 class="end">Inicio</h1>
        </span>
      </button>
    </div>
    <ul *ngIf="usuario.tipoUsuario.tiusId !='1'"
      class="nav nav-tabs tab-solid tab-solid-danger justify-content-between tap-unidos fixed-cj" id="usuarios"
      role="tablist">
      <li class="nav-item pointer" id="liAtrasadas" onclick="redireccionarMisTareas(this.id); ponerEstilo(this.id);">
        <a class="btn btn-outline" id="tab-5-1" data-toggle="tab" href="#tareas-5-2" role="tab"
          aria-controls="tareas-5-2" aria-selected="true">
          <i class="tu-icon-mail2"></i>
          <span class="tc-nav-item__body">
            Tareas atrasadas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tAt">
              {{totales.atrasadas}}
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item pointer" id="liAbiertas" onclick="redireccionarMisTareas(this.id); ponerEstilo(this.id);">
        <a class="btn btn-outline" id="tab-5-2" data-toggle="tab" href="#tareas-5-1" role="tab"
          aria-controls="tareas-5-1" aria-selected="false">
          <i class="tu-icon-paper2"></i>
          <span class="tc-nav-item__body">
            Tareas abiertas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tA">
              {{totales.abiertas}}
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item pointer" id="liObservadas" onclick="redireccionarMisTareas(this.id); ponerEstilo(this.id);">
        <a class="btn btn-outline" id="tab-5-3" data-toggle="tab" href="#tareas-5-3" role="tab"
          aria-controls="tareas-5-3" aria-selected="false">
          <i class="tu-icon-hand "></i>
          <span class="tc-nav-item__body">
            Tareas observadas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tO">
              {{totales.observadas}}
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item pointer" id="liPendientes" onclick="redireccionarMisTareas(this.id);">
        <a class="btn btn-outline" id="tab-5-5" data-toggle="tab" href="#tareas-5-5" role="tab"
          aria-controls="tareas-5-5" aria-selected="false">
          <i class="tu-icon-bocina"></i>
          <span class="tc-nav-item__body">
            Tareas proximas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tP">
              {{totales.proximas}}
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item pointer" id="liCerradas" onclick="redireccionarMisTareas(this.id); ponerEstilo(this.id);">
        <a class="btn btn-outline" id="tab-5-5" data-toggle="tab" href="#tareas-5-4" role="tab"
          aria-controls="tareas-5-4" aria-selected="false">
          <i class="tu-icon-box"></i>
          <span class="tc-nav-item__body">
            Tareas cerradas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tC">
              {{totales.cerradas}}
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>