<div class=" totales" *ngIf="authService.isAuthenticated()" id='panel-derecho'>
  <ul *ngIf="usuario.tipoUsuario.tiusId =='1' && totales"
    class="nav nav-tabs tab-solid tab-solid-danger justify-content-between" role="tablist" id="admin">
    <li class="nav-item">
      <a class="btn btn-outline-secondary btn-inicio" onclick="javascript:cargarMenu();" data-toggle="tab" role="tab"
        aria-controls="profile-5-2" aria-selected="false">
        <i class="tu-icon-home"></i>
        <h1 class="end">Inicio</h1>
      </a>
    </li>
    <li class="nav-item pointer" id="company-regis">
      <a class="btn btn-outline" id="em-tab-5-3" data-toggle="tab" href="#contact-5-3" role="tab"
        aria-controls="contact-5-3" aria-selected="false">
        <i class="tu-icon-building"></i>
        <span class="tc-nav-item__body">
          Empresas registradas
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalEmpresas"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.empresas}}
          </span>
        </span>
      </a>
    </li>
    <li class="nav-item pointer" id="con-acti-sistema">
      <a class="btn btn-outline" id="em-tab-5-4" data-toggle="tab" href="#contact-5-4" role="tab"
        aria-controls="contact-5-4" aria-selected="false">
        <i class="tu-icon-chat-bubble"></i>
        <span class="tc-nav-item__body">
          Contadores activos
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalContadores"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.contadores}}
          </span>
        </span>
      </a>
    </li>
    <li class="nav-item pointer" id="all-users" [routerLink]="[ '/listUsuario']">
      <a class="btn btn-outline" id="em-tab-5-5" data-toggle="tab" href="#contact-5-5" role="tab"
        aria-controls="contact-5-5" aria-selected="false">
        <i class="tu-icon-group"></i>
        <span class="tc-nav-item__body">
          Total usuarios
          <span class="tc-nav-item__txt" style="font-weight: bold;" id="totalUsuarios"><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>{{totales.usuarios}}
          </span>
        </span>
      </a>
    </li>
  </ul>

  <div class="display_flex" *ngIf="totales">
    <div class="tc-dropdown__container">
      <button class="tab-solid btn btn-block btn-primary tc-aside__btn buttonEmpresa" id="botonEmpresa" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="tu-icon-empresas tc-aside__icon"></i>
        <span class="tc-aside__btn-txt">
          <span class="tc-txtsmall" id="contEmp">Empresas registradas</span>
          <div class="tc-txt" id="nombreEmpresa">Todas ({{empresas.length}})</div>
          <i class="fa fa-sort-desc tc-aside__icon"></i>
        </span>
      </button>
      <div class="dropdown-menu tc-dropdown" x-placement="bottom-start" id="todasEmpresas"
        style="position: absolute; transform: translate3d(0px, 56px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a (click)="seleccionarEmpresa(0)" class="dropdown-item ec-dropdown-item pointer"
          id="todasEmpresasLabel">Todas<i class="fa fa-chevron-right tc-nav-item__icon"></i></a>
        <div *ngFor="let empresa of empresas">
          <div class="dropdown-divider ec-dropdown-divider"></div><a (click)="seleccionarEmpresa(empresa.idEmpresa)"
            class="dropdown-item ec-dropdown-item pointer" title="{{empresa.nombreEmpresa}}">
            <div class="cortarPalabra">{{empresa.nombreEmpresa}}</div><i
              class="fa fa-chevron-right tc-nav-item__icon"></i>
          </a>
        </div>
      </div>

      <button class="tab-solid btn btn-block btn-primary tc-aside__btn" id="botonIn" onclick="cargarMenu();"
        style="display: none;" type="button">
        <i class="tu-icon-home tc-aside__icon" id="inicio_vendedor"
          style="position: absolute;left: 26px; top: 11px;"></i>
        <span class="tc-aside__btn-txt">
          <h1 class="end">Inicio</h1>
        </span>
      </button>
    </div>
    <ul *ngIf="usuario.tipoUsuario.tiusId !='1'"
      class="nav nav-tabs tab-solid tab-solid-danger justify-content-between tap-unidos fixed-cj" id="usuarios"
      role="tablist">
      <li [className]="tipoTarea=='1' ? 'nav-item pointer btn-activo-li' : 'nav-item pointer'" id="liAtrasadas"
        [routerLink]="['/listEjecuciones', usuario.usuaId,0,1]">
        <a class="btn btn-outline" id="tab-5-1" data-toggle="tab" role="tab" aria-controls="tareas-5-2"
          aria-selected="true">
          <i class="tu-icon-mail2"></i>
          <span class="tc-nav-item__body">
            Tareas atrasadas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tAt">
              {{totales.atrasadas}}
            </span>
          </span>
        </a>
      </li>
      <li [className]="tipoTarea =='2' ? 'nav-item pointer btn-activo-li' : 'nav-item pointer'" id="liAbiertas"
        [routerLink]="['/listEjecuciones', usuario.usuaId,0,2]">
        <a class="btn btn-outline" id="tab-5-2" data-toggle="tab" href="#tareas-5-1" role="tab"
          aria-controls="tareas-5-1" aria-selected="false">
          <i class="tu-icon-paper2"></i>
          <span class="tc-nav-item__body">
            Tareas abiertas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tA">
              {{totales.abiertas}}
            </span>
          </span>
        </a>
      </li>
      <li [className]="tipoTarea=='3' ? 'nav-item pointer btn-activo-li' : 'nav-item pointer'" id="liObservadas"
        [routerLink]="['/listEjecuciones', usuario.usuaId,0,3]">
        <a class="btn btn-outline" id="tab-5-3" data-toggle="tab" href="#tareas-5-3" role="tab"
          aria-controls="tareas-5-3" aria-selected="false">
          <i class="tu-icon-hand "></i>
          <span class="tc-nav-item__body">
            Tareas observadas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tO">
              {{totales.observadas}}
            </span>
          </span>
        </a>
      </li>
      <li [className]="tipoTarea=='4' ? 'nav-item pointer btn-activo-li' : 'nav-item pointer'" id="liPendientes"
        [routerLink]="['/listEjecuciones', usuario.usuaId,0,4]">
        <a class="btn btn-outline" id="tab-5-5" data-toggle="tab" href="#tareas-5-5" role="tab"
          aria-controls="tareas-5-5" aria-selected="false">
          <i class="tu-icon-bocina"></i>
          <span class="tc-nav-item__body">
            Tareas proximas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tP">
              {{totales.proximas}}
            </span>
          </span>
        </a>
      </li>
      <li [className]="tipoTarea=='5' ? 'nav-item pointer btn-activo-li' : 'nav-item pointer'" id="liCerradas"
        [routerLink]="['/listEjecuciones', usuario.usuaId,0,5]">
        <a class="btn btn-outline" id="tab-5-5" data-toggle="tab" href="#tareas-5-4" role="tab"
          aria-controls="tareas-5-4" aria-selected="false">
          <i class="tu-icon-box"></i>
          <span class="tc-nav-item__body">
            Tareas cerradas
            <span class="tc-nav-item__txt" style="font-weight: bold;font-size: 24px;" id="tC">
              {{totales.cerradas}}
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>