/* You can add global styles to this file, and also import other style files */
.loadergo{
    position: fixed;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.end{
    display: flex;
    justify-content: center;
}
.end-real{
    display:flex;
    justify-content: flex-end;
}

.end-complement{
    flex-direction: column;
    align-items: center;
}
.borders {
    border-radius: 5px;
}
.btn-primary, .wizard > .actions a {
    color: #fff !important;
    background-color: #3F8827 !important;
    border-color: #3F8827 !important;
}
.pointer {
    cursor: pointer;
}

.btn-mini {
    padding: 4px 11px !important;
    border-radius: 5px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #ffffff00;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px !important;
}

.tc-card{
    border: none;
}

body{
    background-color: #eff3f5 !important;
}

.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .tt-hint:focus, .tt-query:focus, .typeahead:focus, button:focus, input, input:focus, select:focus, textarea:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
    box-shadow: none;
    outline-style: none;
}

.input-c {
    border-radius: 10px !important;
}

.btn-mini {
    padding: 4px 11px !important;
    border-radius: 5px;
}

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}